@tailwind base;
@tailwind components;
@tailwind utilities;


.banner {
    background: url('../../public/images/cueva2.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

.banner2 {
    background: url('../../public/images/laguna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center

}

.banner3 {
    background: url('../../public/images/musica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center */

}
