@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.banner {
    background: url('../../public/images/antigua.jpg');
    background-repeat: no-repeat;
    background-size: cover
}

.banner2 {
    background: url('../../public/images/laguna.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center

}

.banner3 {
    background: url('../../public/images/musica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center */

}

.banner4{
    background: url('../../public/images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center */
}

.bg-argamasilla{
    background: url('../../public/images/nicolas-argamasilla3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Puedes agregar estas reglas en tu archivo CSS */
.nav-link-active {
    background: linear-gradient(to right, #f7c2d0, #ff80aa); /* El gradiente de rosa */
    color: white; /* Texto blanco */
}

.nav-link:hover {
    background: #e6e6e6; /* Gris claro al pasar el mouse */
    color: #333; /* Texto oscuro */
}

.nav-link:focus {
    background: linear-gradient(to right, #f7c2d0, #ff80aa); /* Mantener el gradiente en foco */
    color: white;
}
